.subscribe {
  background-color: rgb(201, 0, 0);
  color: white;
  border: none;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  margin-right: 10px;
  transition: opacity 0.15s;
  vertical-align: top;
  margin-top: 10px;
}
.subscribe:hover {
  opacity: 0.8;
}
.subscribe:active {
  opacity: 0.5;
}
.join {
  background-color: white;
  color: rgb(9, 101, 151);
  border-color: rgb(9, 101, 151);
  border-radius: 2px;
  border-style: solid;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  margin-right: 10px;
  transition: background-color 0.15s, color 0.15s;
  vertical-align: top;
  margin-top: 10px;
}
.join:hover {
  background-color: rgb(9, 101, 151);
  color: white;
}
.join:active {
  opacity: 0.6;
}
.tweet {
  background-color: rgb(14, 153, 199);
  color: white;
  font-weight: bold;
  height: 40px;
  width: 90px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.15s;
  text-align: center;
  vertical-align: top;
  margin-top: 10px;
}
.tweet:hover {
  box-shadow: 6px 8px 35px rgba(0, 0, 0, 0.6);
}
